
@import "neat/neat";
$gtMobile: min-width 60em 12 !default;
$cream: #D9D4CA;
$turq: #8FB9C0;
$matcha: #779261;
$sencha: #445833;
$brown: #562114;
$wine: #6F4241;
 
body {
    font-family: sans-serif;
    background-color: $cream;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-image: url('../assets/paper_bg.png');
}

header {
    background-color: $turq;
    position: relative;
    padding: 1em;
    text-align: center;
    background-image: url('../assets/header_bg.png');
    background-position: 25% 75%;
    background-repeat: no-repeat;

    h1 {
        font-family: 'Dancing Script', cursive;
        color: #ffffff;
        text-align: center;
        font-size: 3em;
        margin: 0;
    }

    ul {
        margin-top: 1em;
        width: 100%;
        padding: 0;
        list-style: none;
    }

    li {
        color: $cream;
        text-transform: uppercase;
        margin: 0 0.5em 0.5em 0;
        box-sizing: border-box;
        display: inline-block;
        width: 10em;
        padding: 0.5em 0;
        background-color: $matcha;
        text-align: center;

        &:hover {
            background-color: $sencha;
        }
    }
    @include media ($gtMobile) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
        padding: 1em;
        margin-right: 1em;
        width: 280px;
        background-size: 700px;
        background-position: 25% 5em;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1em;
    @include media ($gtMobile) {
        margin-left: 300px;
        max-width: 1000px;
    }
}

.content-box {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 1em;
}

.sale {
    background-color: $brown;
    background-image: url('../assets/content_sale.jpg');
    background-position: center;
    background-size: cover;

    div {
        width: 100%;
        padding: 2em;

        h1 {
            margin: 0;
            font-family: 'PT Serif', serif;
            color: $brown;
        }

        a {
            color: $cream;
            border: 4px solid $cream;
            padding: 0.25em;
            text-decoration: none;
        }
        font-size: 2em;
    }
}

.about {
    flex-direction: row;
    align-items: center;

    img {
        width: 100%;
    }

    .sub {
        padding: 1em;
    }

    h1 {
        color: $sencha;
        font-family: 'PT Serif', serif;
        font-size: 2em;
        margin-top: 0;
    }
    @include media ($gtMobile) {
        .sub {
            width: 75%;
        }
    }
}

.values {
    background-color: $sencha;
    background-image: url('../assets/content_sustain.jpg');
    background-position: center;
    background-size: cover;
    align-items: column;
    color: $cream;

    div {
        width: 100%;
        padding: 2.5em;
        line-height: 1.5em;

        h1 {
            font-family: 'PT Serif', serif;
            color: $cream;
            font-size: 2em;
            margin: 0.25em 0;
        }

        a {
            color: $cream;
            border: 4px solid $cream;
            padding: 0.25em;
            text-decoration: none;
        }
    }
}

.events {
    flex-direction: row;
    align-items: center;

    img {
        width: 100%;
    }

    .sub {
        padding: 1em;
    }

    h1 {
        color: $sencha;
        font-family: 'PT Serif', serif;
        font-size: 2em;
        margin-top: 0;
    }

    ul {
        margin-top: 1em;
        width: 100%;
        padding: 0;
        list-style: none;
    }

    li {
        color: $cream;
        margin: 0 0.5em 0.5em 0;
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        padding: 0.5em 0;
        background-color: $wine;
        text-align: center;

        &:hover {
            background-color: $brown;
        }
    }
    @include media ($gtMobile) {
        .sub {
            width: 75%;
        }
    }
}

footer {
    display: flex;
    color: $cream;
    justify-content: space-around;
    flex-direction: row;
    background-color: $sencha;

    ul {
        padding: 0;
    }
    @include media ($gtMobile) {
        margin-left: 280px;
        margin-right: 0;
    }
}
